[Unit]
Description=Picom X11 compositor
StartLimitIntervalSec=30
StartLimitBurst=20

[Service]
Type=simple
ExecStart=%h/.config/i3/picom/launcher.sh
Restart=on-failure
RestartSec=1
